.mainBox{
  border: 2px solid black;
  width: 300px;
}
.inputBox{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 90%;
}
.textareaBox{
  width: 90%;
  height: 150px;
  margin-left: 10px;

}
button{
  margin-left: 10px;
}
.commentBox{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}